aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
doc/doxyfile
fmatvec.pc
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
test-driver

*.lo
*.la
*.o
*.deps*
*.libs*
